[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
pillow = "*"
torch = "*"
torchvision = "*"
tqdm = "*"
fonttools = "*"

[dev-packages]
jupyter = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
